<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	
 <link rel="stylesheet" href="style.css">
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
  
	<div class="container my-2">
	<h1>Employees List</h1>
	
	<a th:href = "@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>
	

	 
	 <div class = "search-container my-3">
		
		<input onkeyup="search()" id ="search-input" type="text" class="form-control" placeholder="Search your contacts"/>  
		 
		 <div class="search-result">
		       
		 </div>
		 
	 </div>
	 
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>

                <th>
                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
                        <span th:class="${sortField == 'id' ? (sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down') : 'fas fa-sort'}"></span>
                        Employee ID
                    </a>
                </th>
                <th>
                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                        <span th:class="${sortField == 'firstName' ? (sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down') : 'fas fa-sort'}"></span>
                        Employee First Name
                    </a>
                </th>
                <th>
                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                        <span th:class="${sortField == 'lastName' ? (sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down') : 'fas fa-sort'}"></span>
                        Employee Last Name
                    </a>
                </th>
                <th>
                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                        <span th:class="${sortField == 'email' ? (sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down') : 'fas fa-sort'}"></span>
                        Employee Email
                    </a>
                </th>

		            <th>File</th>
					
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.id}"></td>					
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.email}"></td>
					
					
	<!--				<td>
						
   <a th:if="${employee.fileUploaded}" th:href="@{'/downloadFile/' + ${employee.id}}" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span> Download
    </a>
    <a th:unless="${employee.fileUploaded}" class="btn btn-danger disabled">
        <span class="glyphicon glyphicon-remove"></span>
    </a>   
    
						
    <form th:action="@{/uploadFile/{id}(id=${employee.id})}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>						
					</td>       -->
					
					
        <td>
            <!-- Link to the upload/download page for each employee -->
            <a th:href="@{/fupload/{id}(id=${employee.id})}" class="btn btn-primary">File Status</a>
        </td>
					
					
					<td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
	
</body>
</html>